*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  width: 100%;
  height: 100vh;
  background-color: #0B0911;
  padding: 40px;
}

table{
  border-collapse: collapse;
  border-color: #1C162C;
  margin: auto;
  border: solid 2px #1C162C;
  font-family: 'Roboto', sans-serif;
  color:#fff ;
  border-radius: 10px;
}
th{
  background-color: #1C162C ;
  font-size: 14px;
  font-weight: 300;
}

th, td{
  padding: 10px;
  text-align: center;
}
button{
  padding: 12px 24px;
  border-radius: 24px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(92, 91, 91, 0.3) 0px 8px 16px -8px;
}
i{
  font-size: 14px;
}
.primary{
  background-color: #8257E5;
  
  border: solid 2px #8257E5;
}

.secondary{
  background-color: #3C3748;
  border: solid 2px #3C3748;
}

.tertiary{
  background-color: #0B0911;
  border: solid 2px #0B0911;
}

.hover:hover{
  opacity: 0.7;
  color: #fff;
}

.focus:focus{
  border: solid 2px #fff;
}

.disabled{
  opacity: 0.5;
  cursor: not-allowed ;
}

.loading{
  cursor: progress;
}

.movable{
  cursor: move;
}

